.step-item {
  @apply relative flex flex-col justify-center items-center w-40;
}
.step-item:not(:first-child):before {
  @apply content-[''] bg-slate-200 absolute w-full h-[3px] right-2/4 top-1/3 -translate-y-2/4;
}
.step {
  @apply w-10 h-10 flex items-center justify-center z-10 relative bg-slate-700 rounded-full font-semibold text-white;
}
.active .step {
  @apply bg-sky-600;
}
.complete .step {
  @apply bg-green-600;
}
.complete p {
  @apply text-green-600;
}
.complete:not(:first-child):before,
.active:not(:first-child):before {
  @apply bg-green-600;
}

.separatorCustom {
  background-image: repeating-linear-gradient(
    45deg,
    #6fa6d6,
    #6fa6d6 33px,
    transparent 0,
    transparent 41px,
    #f18d9b 0,
    #f18d9b 74px,
    transparent 0,
    transparent 82px
  );
  background-position-x: -1.875rem;
  background-size: 7.25rem 0.1875rem;
  height: 0.1875rem;
  width: 100%;
}





.home-product-item__favorite {
  position: absolute;
  top: 12px; /* Place the element at the top */
  right: -5px; /* Place the element on the right */
  font-size: 0.9rem;
  color: red;
  background-color: currentColor;
  font-weight: 500;
  line-height: 16px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 4px;
  /* Ensure the element does not overflow */
  box-sizing: border-box;
}

.home-product-item__favorite::after {
  border-right: 6px solid transparent;
  border-top: 4px solid currentColor;
  content: "";
  position: absolute;
  left: 92%; /* Center it horizontally within the parent */
  bottom: -4px; /* Adjust this value to move the arrow down if needed */
  transform: translateX(-50%); /* Center the arrow horizontally */
  filter: brightness(60%);
}

.home-product-item__favorite span {
  color: white;
}

.home-product-item__favorite i {
  font-size: 0.9rem;
  margin: 0 2px 0 5px;
  color: white;
}
