//-------------------------------------------- Service--------------------------------------------
.bg-service{
background-image: url("/images/bg-service.jpg");
height: 500px;
width: 100%;
background-size: cover;
background-position: center;
position: relative;
}

.bg-service::before{
    content: "";
    position: absolute;
    right: -31px;
    bottom: -80px;
    width: 250px;
    height: 381px;
    background-image: url("/images/item-bg.png");
    background-repeat: no-repeat;
    clip: rect(300px, 250px, 381px, 0);
}

.rotate-on-hover:hover .rotate-on-hover-image {
    transform: rotateY(180deg);
    transition: transform 0.5s ease;
}

//--------------------------------------------Infoproduct--------------------------------------------
.background-infoproduct{
    background-image: url("/images/item-introproduct2.png");
    width: 500px;
    height: 190px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-infoproduct2{
    background-image: url("/images/item-introproduct.png");
    width: 173px;
    height: 193px;
    right: 50%;
    bottom: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}
.video-introproduct{
  width: 1000px;
  height: 707px;
}
//--------------------------------------------Selling product--------------------------------------------
.cover-image {
    background-image: url('/images/selling-product.jpg');
    width: 100%;
    height: 638px;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; // Thêm dòng này để tạo hiệu ứng parallax
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #fff; 
  }

  .active-slide {
    background-color: #ee9ca7;  
    margin-top: 120px;
  }


// ------------------------------------BuyProduct--------------------------------
.buyproduct-image {
    width: 100%;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}

.buyproduct-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/images/bg-footer.jpg") center center no-repeat;
    background-size: cover;
    filter: blur(2px); 
}


//Hiệu ứng nảy nảy 
.arrow {
  text-align: center;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-25px);
  }
  60% {
    transform: translateY(-15px);
  }
}


//laptop
@media (min-width:1500px) and (max-width: 1600px) { 
  //introporduct
  .background-infoproduct2{
    bottom: 10px;
  }
  .video-introproduct{
    width: 900px;
  }
  
 }
//ipad
@media (min-width:768px) and (max-width: 1400px) { 
  //service
  .bg-service::before{
    right: 0px;
}
  //introproduct
  .background-infoproduct2{
   display: none; 
  }
  .video-introproduct{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
}
//phone
 @media (max-width: 450px) { 
 //service
 .bg-service::before{
  right: 0px;
}
  .bg-service{
  height: 100%;
  }
  //infoproduct
  .background-infoproduct{
    display: none;
  }
  .background-infoproduct2{
    display: none;
  }
  .video-introproduct{
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}



// -----------------------------------------Info_Hot_Product--------------------------
.card {
  position: relative;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  max-height: 200px; /* Giới hạn chiều cao ban đầu */
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__content-inner {
  overflow: hidden;
  max-height: 200px; /* Giới hạn chiều cao ban đầu của cả title và description */
  transition: max-height 0.6s ease-in-out; /* Mượt mà khi mở rộng */
}

.card:hover .card__content-inner {
  max-height: 320px; /* Mở rộng chiều cao khi hover */
  animation: autoScroll 10s ease-in-out forwards; 
}

@keyframes autoScroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%); /* Cuộn đến giữa nội dung */
  }
}

.card__content p {
  transition: max-height 0.6s ease-in-out;
  white-space: normal; /* Cho phép nội dung xuống dòng */
}

