.dot {
  width: 20px;
  height: 20px;
  position: fixed; /* Make it fixed */
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 999999;
  pointer-events: none; /* Prevent interaction */
}

html,
body,
#container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#container {
  position: fixed; /* Always stays on screen */
  top: 0;
  left: 0;
  pointer-events: none; /* Allow interactions through the container */
  z-index: 999999; /* Ensure it stays above other elements */
}
