.container{
    width: 100%;
    background-color: black;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    position: fixed;
    border-radius: 4px;
    bottom: 0px;
    z-index: 9999;
}
.container-text-auto-right{
    display: inline-block;
    color: #FFF;
    padding-left: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    animation: move 25s linear infinite;
}
@keyframes move {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}